<link rel="stylesheet" href="/core/components/navbar/navbar.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js"></script>
<script src="/core/components/stero-logo.js"></script>
<script src="/core/components/navbar/navbar.js"></script>
<script src="/routes.js"></script>
<nav class="navbar">
    <div class="nav-container">
        <a href="index.html" class="brand">
            <stero-logo size="32px"></stero-logo>
            <span class="brand-text">STEROMUSIC</span>
        </a>

        <ul class="nav-links">
            <li><a href="#" data-route="nosotros">Nosotros</a></li>
            <li><a href="#" data-route="servicios" class="active">Servicios</a></li>
            <li><a href="#" data-route="testimonios">Testimonios</a></li>
            <li><a href="#" data-route="galeria">Galería</a></li>
        </ul>

        <div class="nav-actions">
            <div class="search-group">
                <div class="search-box">
                    <span class="material-icons-outlined search-icon">search</span>
                    <input type="text" id="searchInput" placeholder="Buscar..." class="search-input" autocomplete="off">
                </div>
                <button id="btnFilters" class="filter-btn" aria-label="Filtros">
                    <span class="material-icons-outlined">tune</span>
                </button>
            </div>

            <div id="searchResults" class="search-dropdown hidden">
                <div id="filtersContainer" class="filters-area hidden"></div>

                <div id="resultsList"></div>
            </div>
          <button onclick="ThemeManager.toggleMode()" class="filter-btn" title="Cambiar Modo">
                <span class="material-icons-outlined" id="mode-icon">light_mode</span>
            </button>

            <button onclick="ThemeManager.openPalette(this)" class="filter-btn" title="Personalizar Color">
                <span class="material-icons-outlined">palette</span>
            </button>

            <a href="#" class="btn-contact" data-route="Registro">REGISTRATE</a>
        </div>
    </div>
    </div>
</nav>